ollama
rich
streamlit
fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-core
chromadb
pypdf
duckduckgo-search
ddgs
groq
python-dotenv
pinecone-client
langchain-huggingface
langchain-pinecone