streamlit
fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-text-splitters
langchain-core
pypdf
duckduckgo-search
ddgs
groq
python-dotenv
pinecone-client
langchain-pinecone
upstash-redis
beautifulsoup4
lxml